<h1>Editing translation</h1>

<%= render 'form' %>

<%= link_to 'Show', @translation %> |
<%= link_to "Delete", translation_path(@translation), method: :delete, data: { confirm: 'Are you certain you want to delete this translation ?' } %>
<%= link_to 'Back', translations_path %>
