<div class="super-container large-9 columns new">
  <div class="header">
    <h2>New Translation for <%= @article.name %></h2>
  </div>

  <div class="content">
    <%= render 'users/translations/new_translation_form' %>

    <%= link_to '<< Back', :back, :class => "button small" %>
  </div>
</div>
