<div class="row main-content">
  <div class="super-container large-9 columns new">
    <div class="header">
      <h2>New Article</h2>
    </div>

    <div class="content">
      <%= render 'form' %>

      <%= link_to '<< Back', articles_path, :class => "button small" %>
    </div>
  </div>
  <%= render "articles/sidebar" %>
</div>
