/* General styles */
body.articles, body.translations{
  .super-container{
    @include funny-content-border();
    background: $white-color;
  }
}
body{
  #sidebar-container{
    padding: 0 20px;
    #sidebar{
      @include funny-content-border();
      background: $white-color;
      padding: 40px 20px;
      text-align: center;
      #categories{
        h5 {
          color: #008cba;
          margin:0; font-weight:bold;
        }
        .category-list{
          padding-top: 15px;
          ul{
            li{
              color: #008cba;
              span { padding-left: 2px; }
            }
          }
        }
      }
    }
  }
}



@import "simplicity/main/user";
@import "simplicity/main/articles";
@import "simplicity/main/translations";
