<div class="votecell">
  <span class="atom">Votes</span>
  <div class="atom"><%= instance.reputation_for(:points).to_i %></div>
  <div class="atom">
    <% if !instance.already_voted_by?(current_user) %>
      <% if controller_name == "articles" %>
        <%= link_to "Up", vote_article_path(instance, type: "up"), method: "post" %>
      <% else %>
        <%= link_to "Up", vote_translation_path(instance, type: "up"), method: "post" %>
      <% end %>
    <% end %>
  </div>
</div>
